@use '../../partials/colors' as *;
@use '../../partials/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footer {

        display: flex;
        position: absolute;
        bottom: 0;
        right: 0; 
       
    &__workblock-link {
        font-family: 'Roboto';
        font-size: 1.5rem;
        color: #00810D;
        opacity: .85;
        letter-spacing: 1.2px;
        padding-bottom: .5rem;
        padding-right: 3rem;
        text-decoration: none;
    }
}