$main-background-color: black;
$main-text-color: white;
$main-accent-color: #00810D;
$taskboard-icon-color: red;
$chat-icon-color: yellow;
$sprintroadmap-icon-color: blue;
$message-sent-color: white;
$message-recieved-color: gray;