@font-face {
    font-family: 'Advent Pro';
    src: url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Charm&display=swap')
    format('embedded-opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
    format('embedded-opentype')
}